pandas
numpy
scikit-learn
torch
matplotlib
seaborn
ipykernel
statsmodels

# suggested to use a virtual environment when interacting with this project; dataset(s), requirements, and venv initalization must be done locally